:root {
  /* font */
  --main-font: "Roboto", sans-serif;
  --secondery-font: "Raleway", sans-serif;
  /* txt colors */
  --main-txt-cl: #757575;
  --accent-txt-cl: #2196f3;
  --subtitle-txt-cl: #030303;
  --additional-txt-cl:#AFB1B8;
  --additional-dark-txt-cl:#212121;
  /* bg colors */
  --dark-bg-cl: #2f303a;
  --light-bg-cl: #f5f4fa;
  /* others */
  --indent: 30px;
  --itens: 4;
  --time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.portfolio-overlay, .clients-link, .socials__link, .socials__list, .special__overlay, .features__thumb, .hero__btn, .footer-subs-form, .footer-socials-link, .footer-socials-list, .register-form-agreement, .modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: var(--main-txt-cl);
}

.subtitle {
  color: var(--subtitle-txt-cl);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}

.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--itens) - 1)) / var(--itens));
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms ease-in-out 200ms, visibility 500ms ease-in-out 200ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 500ms ease-in-out 200ms, opacity 500ms ease-in-out 200ms;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.2) rotate(1turn);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color var(--time);
}
.modal-btn:hover, .modal-btn:focus {
  border-color: var(--accent-txt-cl);
}

.modal-btn-icon:hover {
  fill: var(--accent-txt-cl);
}

.register-form {
  text-align: center;
}

.register-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 12px;
  text-align: center;
  color: var(--additional-dark-txt-cl);
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-wrap {
  position: relative;
  display: block;
  margin-bottom: 10px;
}
.register-form-wrap:last-child {
  margin-bottom: 0;
}

.register-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  display: block;
  text-align: left;
  margin-bottom: 4px;
  padding-left: 3px;
}

.register-form-input,
.register-form-message {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px;
  padding-left: 42px;
  outline: transparent;
  transition: border-color var(--time);
}
.register-form-input:focus,
.register-form-message:focus {
  border-color: var(--accent-txt-cl);
  fill: var(--accent-txt-cl);
}

.register-form-input:focus + .register-form-icon,
.register-form-message:not(:placeholder-shown) {
  border-color: var(--accent-txt-cl);
  fill: var(--accent-txt-cl);
}

.register-form-message {
  resize: none;
  padding: 12px 16px;
  height: 120px;
}

.register-form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition: fill var(--time);
}

.register-form-agreement {
  gap: 8px;
  margin-bottom: 30px;
}

.register-checkbox:checked + .register-icon .register-icon-uncheck {
  opacity: 0;
  transition: opacity var(--time);
}

.register-icon-check {
  opacity: 0;
  transition: opacity var(--time);
  fill: var(--accent-txt-cl);
}
.register-checkbox:checked + .register-icon .register-icon-check {
  opacity: 1;
}

.register-form-agreement-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  user-select: none;
  text-underline-position: under;
}

.register-form-agreement-link {
  color: var(--accent-txt-cl);
}

.register-form-btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 52px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background var(--time);
}
.register-form-btn:hover, .register-form-btn:focus {
  background: #188ce8;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-light {
  color: #ffffff;
}

.logo-dark {
  color: #000000;
}

.log {
  color: var(--accent-txt-cl);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-right: auto;
}

.header-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--subtitle-txt-cl);
  display: flex;
  gap: 50px;
}

.header-nav-link-current {
  color: var(--accent-txt-cl);
  position: relative;
}
.header-nav-link-current::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: var(--accent-txt-cl);
  position: absolute;
  bottom: 0;
  left: 0;
}

.header-nav-link,
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color var(--time);
}
.header-nav-link:hover, .header-nav-link:focus,
.header-link:hover,
.header-link:focus {
  color: var(--accent-txt-cl);
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  display: flex;
  gap: 50px;
}

.header-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--main-txt-cl);
}

.header-icon {
  fill: currentColor;
}

.footer {
  background-color: var(--dark-bg-cl);
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-group {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-top: 20px;
}

.footer-address-txt {
  color: #ffffff;
  margin-bottom: 9px;
}

.footer-address-list-item {
  margin-top: 9px;
}
.footer-address-list-item:not(:first-child) {
  margin-top: 9px;
}

.footer-address-list-item-link {
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time);
}
.footer-address-list-item-link:hover, .footer-address-list-item-link:focus {
  color: var(--accent-txt-cl);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-socials-list {
  gap: 10px;
  margin-top: 20px;
}

.footer-socials-link {
  color: #ffffff;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--time);
}
.footer-socials-link:hover, .footer-socials-link:focus {
  background-color: var(--accent-txt-cl);
}

.footer-socials-icon {
  fill: currentColor;
}

.footer-subs-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-subs-form {
  gap: 12px;
  margin-top: 20px;
}

.footer-subs-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  padding-right: 15px;
  outline: none;
}
.footer-subs-input:focus, .footer-subs-input:not(:placeholder-shown) {
  border-color: #ffffff;
  color: #ffffff;
}

.footer-subs-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: var(--accent-txt-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
  border: none;
  padding: 10px 28px;
  transition: background var(--time);
}
.footer-subs-btn:hover, .footer-subs-btn:focus {
  background: #188ce8;
}

.hero {
  background-color: #c4c4c4;
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-txt-cl);
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: color var(--time), background var(--time);
}
.hero__btn:hover, .hero__btn:focus {
  color: #ffffff;
  background: #188ce8;
}

.features {
  padding-bottom: 0;
}

.features__list {
  display: flex;
  gap: 30px;
}

.features__item {
  flex-basis: 270px;
}

.features__thumb {
  width: 270px;
  height: 120px;
  background-color: var(--light-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.features__txt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.special__list {
  display: flex;
  gap: 30px;
}

.special__item {
  position: relative;
}

.special__overlay {
  position: absolute;
  top: 224px;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.special__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: var(--light-bg-cl);
}

.team__list {
  --itens: 4;
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.team__prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  text-align: center;
}

.socials__list {
  gap: 10px;
}

.socials__link {
  color: var(--additional-txt-cl);
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: color var(--time), background-color var(--time);
}
.socials__link:hover, .socials__link:focus {
  color: #ffffff;
  background-color: var(--accent-txt-cl);
}

.socials__icon {
  fill: currentColor;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--additional-dark-txt-cl);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  color: var(--additional-txt-cl);
  border: 1px solid var(--additional-txt-cl);
  border-radius: 4px;
  transition: color var(--time), border-color var(--time);
}
.clients-link:hover, .clients-link:focus {
  color: var(--accent-txt-cl);
  border-color: var(--accent-txt-cl);
}

.clients-icon {
  fill: currentColor;
}

.portfolio-filtr {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.portfolio-filtr-btn {
  background: var(--light-bg-cl);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  color: var(--additional-dark-txt-cl);
  display: flex;
  padding: 6px 22px;
  border-radius: 4px;
  border: var(--light-bg-cl);
  transition: color var(--time), background-color var(--time), box-shadow var(--time);
}
.portfolio-filtr-btn:active {
  background-color: var(--accent-txt-cl);
  color: #ffffff;
}
.portfolio-filtr-btn:hover, .portfolio-filtr-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-txt-cl);
  color: #ffffff;
}

.btn-current {
  background-color: var(--accent-txt-cl);
  color: #ffffff;
}

.portfolio-list {
  --itens: 3;
  padding: 0px;
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--time);
}
.portfolio-link:hover, .portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform var(--time);
}
.portfolio-link:hover .portfolio-overlay, .portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-overlay-txt {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
  user-select: none;
}

.portfolio-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--additional-dark-txt-cl);
}

.portfolio-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */