.portfolio-filtr {
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
    


    @media screen and (min-width:480px) {
    width: 326px;}

    @media screen and (min-width:768px) {
    justify-content:center;
    width: 100%;  
    }
}

.portfolio-filtr-btn {
    background: var(--light-bg-cl);
    font-family: inherit;
    @include font (500, 16px, 26px, 0.03em);
    text-align: center;
    cursor: pointer;
    color: var(--additional-dark-txt-cl);
    display: flex;
    padding: 6px 22px;
    border-radius: 4px;
    border: var(--light-bg-cl);
    transition: color var(--time), background-color var(--time), box-shadow var(--time);

    &:active {
        background-color: var(--accent-txt-cl);
        color: #ffffff;
        }

    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
        background-color: var(--accent-txt-cl);
        color: #ffffff;
    }
}

.btn-current {
    background-color: var(--accent-txt-cl);
    color: #ffffff;
}