.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opacity 500ms ease-in-out 200ms, visibility 500ms ease-in-out 200ms;

    &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    max-width: 450px;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;
    transition: transform 500ms ease-in-out 200ms, opacity 500ms ease-in-out 200ms;

 
    .backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.2) rotate(1turn);
}
}

@media screen and (max-width:479px){
    .modal{
     width: 100%;
     height: 100%; 
     overflow: scroll;  
    }
    
}
.modal-btn {
    @extend %centered;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: border-color var(--time);

    &:hover,
    &:focus {
        border-color: var(--accent-txt-cl);
    }
}

.modal-btn-icon:hover {
    fill: var(--accent-txt-cl);
}

.register-form {
    text-align: center;
}

.register-form-title {
    @include font (700, 20px, 30px, 0.03em);
    display: block;
    margin-bottom: 12px;
    text-align: center;
    color: var(--additional-dark-txt-cl);
}

.register-form-group {
    margin-bottom: 20px;
}

.register-form-wrap {
    position: relative;
    display: block;
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}  

.register-form-label {
    @include font (400, 12px, 14px, 0.01em);
    display: block;
    text-align: left;
    margin-bottom: 4px;
    padding-left: 3px;
}

.register-form-input,
.register-form-message {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px;
    padding-left: 42px;
    outline: transparent;
    transition: border-color var(--time);

    &:focus {
        border-color: var(--accent-txt-cl);
        fill: var(--accent-txt-cl);

    }
}

.register-form-input:focus+.register-form-icon,
.register-form-message:not(:placeholder-shown) {
    border-color: var(--accent-txt-cl);
    fill: var(--accent-txt-cl);
}

.register-form-message {
    resize: none;
    padding: 12px 16px;
    height: 120px;
}

.register-form-icon {
    position: absolute;
    bottom: 11px;
    left: 12px;
    transition: fill var(--time);
}

.register-form-agreement {
    @extend %centered;
    gap: 8px;
    margin-bottom: 30px;
    
}

.register-checkbox:checked+.register-icon .register-icon-uncheck {
    opacity: 0;
    transition: opacity var(--time);
}

.register-icon-check {
    opacity: 0;
    transition: opacity var(--time);
    fill: var(--accent-txt-cl);

  .register-checkbox:checked+.register-icon & {
    opacity: 1;
}
}
.register-form-agreement-text {
    @include font (400, 12px, 14px, 0.03em);
    user-select: none;
    text-underline-position: under;
}

.register-form-agreement-link {
    color: var(--accent-txt-cl);
}

.register-form-btn {
    display: inline-flex;
    align-items: center;
    padding: 10px 52px;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: var(--accent-txt-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    @include font (700, 16px, 30px, 0.06em);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background var(--time);

    &:hover,
    &:focus {
            background: #188ce8;
        }
}
/* Mobile */

@media screen and (min-width:480px){
    .modal {
    width: 450px;
    min-height: 609px;
    }
}    
/* Desktop */
@media screen and (min-width:1200px) {
    .modal {
    width: 528px;
    min-height: 581px;
}

    .register-form-title {
    @include font (700, 20px, 23px, 0.03em);}

    .register-form-agreement-text {
    @include font (400, 14px, 24px, 0.03em);
}
}