:root {
    /* font */
    --main-font: 'Roboto', sans-serif;
    --secondery-font: 'Raleway', sans-serif;
    /* txt colors */
    --main-txt-cl: #757575;
    --accent-txt-cl: #2196f3;
    --subtitle-txt-cl: #030303;
    --additional-txt-cl:#AFB1B8;
    --additional-dark-txt-cl:#212121;
    
    /* bg colors */
    --dark-bg-cl: #2f303a;
    --light-bg-cl: #f5f4fa;
    /* others */
    --indent: 30px;
    --itens: 4;
    --time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}